<h2 mat-dialog-title>Context Details</h2>
<mat-divider></mat-divider>
<mat-card class="context-card">
  <mat-card-content>
    <form [formGroup]="formGroup">
      <!-- Name Section -->
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
        <mat-form-field appearance="fill" fxFlex="50%">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Description Section -->
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Actions Section -->
      <mat-divider></mat-divider>
      <div class="blank-line"></div> <!-- Blank line for spacing -->
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="16px" class="form-actions">
        <div>
          <button mat-stroked-button color="warn">Cancel</button>
          <button mat-raised-button color="primary">Save</button>
        </div>      </div>
    </form>
  </mat-card-content>
</mat-card>