<h2 mat-dialog-title>Context Details</h2>
<mat-divider></mat-divider>
<mat-card class="context-card">
  <mat-card-content>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
      <!-- Name Section -->
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
        <mat-form-field appearance="fill" fxFlex="50%">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
            Name is required
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Description Section -->
      <mat-divider></mat-divider>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
        <mat-form-field appearance="fill" fxFlex="100%">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="blank-line"></div>
      <mat-divider></mat-divider>
      <div class="blank-line"></div>

      <!-- Form Updates -->
      <mat-card *ngIf="formGroup.get('id')?.value" class="audit-card">
        <mat-card-content>
          <!-- Is Active -->
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
            <mat-checkbox formControlName="isActive" fxFlex="50%" color="primary">
              Is Active
            </mat-checkbox>
          </div>

          <div class="blank-line"></div>
          <mat-divider></mat-divider>
          <div class="blank-line"></div>

          <!-- Audit Fields -->
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
            <div fxFlex="30%">
              <span class="mono-font">Created By:</span>&nbsp;
              <span class="mono-font">{{ formGroup.get('createdBy')?.value }}</span>&nbsp;
            </div>
            <div fxFlex="70%">
              <span class="mono-font">Created At:</span>&nbsp;
              <span class="mono-font">{{ formGroup.get('createdAt')?.value | date: 'yyyy-MM-dd h:mm a z' }}</span>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
            <div fxFlex="30%">
              <span class="mono-font">Updated By:</span>&nbsp;
              <span class="mono-font">{{ formGroup.get('updatedBy')?.value }}</span>&nbsp;
            </div>
            <div fxFlex="70%">
              <span class="mono-font">Updated At:</span>&nbsp;
              <span class="mono-font">{{ formGroup.get('updatedAt')?.value | date: 'yyyy-MM-dd h:mm a z' }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Actions Section -->
      <div class="blank-line"></div>
      <mat-divider></mat-divider>
      <div class="blank-line"></div>
      <!-- Form content -->
      <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="16px" class="form-actions">
        <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="formGroup.invalid">
          Save
        </button>
     </div>
    </form>
  </mat-card-content>
</mat-card>
