.full-width {
  width: 100%;
}

.blank-line {
  height: 16px;
}

.mono-font {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px; /* Adjust font size as needed */
  color: #000; /* Optional: Adjust text color */
}
