<div class="filter-row">
  <form style="margin-bottom: 8px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="auto" fxLayoutGap="10px">
        <!-- Search Field -->
        <mat-form-field fxFlex="60" class="full-width">
          <mat-icon matPrefix>search</mat-icon>
          <input matInput placeholder="Search" aria-label="Search" [formControl]="search" />
          <mat-hint>Search By Name</mat-hint>
          <mat-error *ngIf="search.invalid">
            Type more than one character to search
          </mat-error>
        </mat-form-field>

        <!-- IsActive Filter -->
        <mat-slide-toggle
          [formControl]="isActive"
          color="primary"
          fxFlex="auto"
        >
          Inactive
        </mat-slide-toggle>
      </div>

      <!-- Create Button -->
      <button mat-raised-button color="primary" (click)="onCreate()">
        Create
      </button>
    </div>
  </form>
</div>

<div class="table-container">
  @if (isLoading) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }
  @if (hasError) {
    <div class="error">
      {{ errorText }}
    </div>
  }
  <mat-table
    [dataSource]="items$"
    matSort
    matSortActive="name"
    matSortDirection="asc"
    matSortDisableClear>
    <mat-header-row *matHeaderRowDef="['name', 'description']"></mat-header-row>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-button class="left-align-button" (click)="showDetail(row.id)" >
          {{ row.name }}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>

    <mat-row
      matRipple
      (click)="selectedRow = row"
      [class.selected]="selectedRow === row"
      *matRowDef="let row; columns: displayedColumns()"></mat-row>
  </mat-table>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="refresh$.next()">
        <mat-icon title="Refresh">refresh</mat-icon>
      </button>
      <span class="flex-spacer"></span>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="resultsLength">
      </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
