<mat-nav-list>
  <mat-list-item routerLink="#">
    <span><b>Project</b></span>
  </mat-list-item>
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active-link" routerLink="project/component">
      <span class="fs-14">Component</span>
    </a>
    <a mat-list-item routerLinkActive="active-link" routerLink="project/component-omit">
      <span class="fs-14">Component Omit</span>
    </a>
    <a
      mat-list-item
      routerLinkActive="active-link"
      routerLink="project/component-property">
      <span class="fs-14">Component Property</span>
    </a>
  </mat-nav-list>

  <mat-list-item routerLink="#">
    <span><b>Model</b></span>
  </mat-list-item>
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active-link" routerLink="model/schema">
      <span class="fs-14">Schema</span>
    </a>
  </mat-nav-list>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header> Data Object </mat-expansion-panel-header>
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="model/data-object/property">
        <span class="fs-14">Property</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="model/data-object/property-type">
        <span class="fs-14">Property Type</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="model/data-object/index">
        <span class="fs-14">Index</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="model/data-object/index-property">
        <span class="fs-14">Index Property</span>
      </a>
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-list-item>
    <span><b>Definitions</b></span>
  </mat-list-item>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header> Generic </mat-expansion-panel-header>
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/definitions/generic/data-types">
        <span class="fs-14">Data Types</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/definitions/generic/property-types">
        <span class="fs-14">Property Types</span>
      </a>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/definitions/generic/property-type-attributes">
        <span
          class="fs-14"
          matTooltip="Property Type Attributes"
          matTooltipPosition="above"
          >Property Type <br />Attributes</span
        >
      </a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header> Platform </mat-expansion-panel-header>
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/definitions/platform/context"
        ><span class="fs-14">Context</span></a
      >
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/definitions/platform/data-types"
        ><span class="fs-14">Data Types</span></a
      >
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="/definitions/platform/property-types"
        ><span class="fs-14">Property Types</span></a
      >
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel [class.mat-elevation-z0]="true">
    <mat-expansion-panel-header> System </mat-expansion-panel-header>
    <mat-nav-list>
      <a
        mat-list-item
        routerLinkActive="active-link"
        routerLink="system/reference-table-type"
        ><span class="fs-14">Reference Table <br />Type</span></a
      >
      <a mat-list-item routerLinkActive="active-link" routerLink="system/reference-table"
        ><span class="fs-14">Reference Table</span></a
      >
      <a mat-list-item routerLinkActive="active-link" routerLink="system/validators"
        ><span class="fs-14">Validators</span></a
      >
      <a mat-list-item routerLinkActive="active-link" routerLink="system/plugin"
        ><span class="fs-14">Plugin</span></a
      >
    </mat-nav-list>
  </mat-expansion-panel>

  <mat-list-item routerLink="#">
    <span class="fs-14"><b>Account</b></span>
  </mat-list-item>
  <mat-nav-list>
    <a mat-list-item routerLinkActive="active-link" routerLink="account/tenant">
      <span class="fs-14">Tenant</span>
    </a>
    <a mat-list-item routerLinkActive="active-link" routerLink="/manager/users">
      <span class="fs-14">User</span>
    </a>
  </mat-nav-list>
</mat-nav-list>
