<div class="dialog-scroll-container">
  <h2 mat-dialog-title>
    <span *ngIf="formGroup?.get('contextName')?.value as contextName">
      {{ contextName }}
    </span>
    Context Data Type Details
  </h2>
  <mat-divider></mat-divider>
  <mat-card class="context-card">
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <!-- Name Section (full width) -->
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            formControlName="name"
            (blur)="formGroup.get('name')?.markAsTouched()" />
          <ng-container *ngIf="formGroup.get('name')?.errors">
            <mat-error *ngIf="formGroup.get('name')?.hasError('nameTaken')">
              This name is already taken.
            </mat-error>
            <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
              Name is required.
            </mat-error>
          </ng-container>
        </mat-form-field>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Generic Data Type</mat-label>
            <mat-select formControlName="idGenericDataType" required>
              <mat-option *ngFor="let type of genericDataTypeList" [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formGroup.get('idGenericDataType')?.hasError('required')">
              Generic Data Type is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Context Value</mat-label>
            <input matInput formControlName="contextValue" />
            <mat-error *ngIf="formGroup.get('contextValue')?.hasError('required')">
              Context Value is required
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Description Section (full width) -->
        <mat-divider></mat-divider>
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
          <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>

        <div class="form-row">
          <mat-form-field appearance="fill">
            <mat-label>Alias</mat-label>
            <input matInput formControlName="alias" />
            <mat-error *ngIf="formGroup.get('alias')?.hasError('required')">
              Alias is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Sequence</mat-label>
            <input matInput formControlName="sequence" />
            <mat-error *ngIf="formGroup.get('sequence')?.hasError('required')">
              Sequence is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="blank-line"></div>
        <mat-divider></mat-divider>
        <div class="blank-line"></div>

        <!-- Form Updates -->
        <mat-card *ngIf="formGroup.get('id')?.value" class="audit-card">
          <mat-card-content>
            <!-- Is Active -->
            <div
              fxLayout="row"
              fxLayout.lt-sm="column"
              fxLayoutGap="8px"
              class="form-row">
              <mat-checkbox formControlName="isActive" fxFlex="50%" color="primary">
                Is Active
              </mat-checkbox>
            </div>

            <div class="blank-line"></div>
            <mat-divider></mat-divider>
            <div class="blank-line"></div>

            <!-- Audit Fields -->
            <div
              fxLayout="row"
              fxLayout.lt-sm="column"
              fxLayoutGap="8px"
              class="form-row">
              <div fxFlex="30%">
                <span class="mono-font">Created By:</span>&nbsp;
                <span class="mono-font">{{ formGroup.get('createdBy')?.value }}</span
                >&nbsp;
              </div>
              <div fxFlex="70%">
                <span class="mono-font">Created At:</span>&nbsp;
                <span class="mono-font">{{
                  formGroup.get('createdAt')?.value | date: 'yyyy-MM-dd h:mm a z'
                }}</span>
              </div>
            </div>
            <div
              fxLayout="row"
              fxLayout.lt-sm="column"
              fxLayoutGap="8px"
              class="form-row">
              <div fxFlex="30%">
                <span class="mono-font">Updated By:</span>&nbsp;
                <span class="mono-font">{{ formGroup.get('updatedBy')?.value }}</span
                >&nbsp;
              </div>
              <div fxFlex="70%">
                <span class="mono-font">Updated At:</span>&nbsp;
                <span class="mono-font">{{
                  formGroup.get('updatedAt')?.value | date: 'yyyy-MM-dd h:mm a z'
                }}</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>

        <!-- Actions Section -->
        <div class="blank-line"></div>
        <mat-divider></mat-divider>
        <div class="blank-line"></div>
        <!-- Form content -->
        <div
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="8px"
          class="form-actions">
          <button mat-raised-button mat-dialog-close>Cancel</button>
          <button mat-raised-button color="warn" type="button" (click)="confirmDelete()">
            Delete
          </button>
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="formGroup.invalid">
            Save
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
