@use '@angular/material' as mat;
@include mat.all-component-typographies();
@include mat.core();

$pareto-factory-primary: mat.define-palette(mat.$green-palette, 700);
$pareto-factory-accent: mat.define-palette(mat.$green-palette, 300);
$pareto-factory-warn: mat.define-palette(mat.$red-palette);

$pareto-factory-theme: mat.define-light-theme(
  (
    color: (
      primary: $pareto-factory-primary,
      accent: $pareto-factory-accent,
      warn: $pareto-factory-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

$pareto-factory-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $pareto-factory-primary,
      accent: $pareto-factory-accent,
      warn: $pareto-factory-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

.dark-theme {
  @include mat.all-component-colors($pareto-factory-dark-theme);
}

@include mat.all-component-themes($pareto-factory-theme);
@include mat.strong-focus-indicators-theme($pareto-factory-theme);
