<div class="filter-row">
  <form style="margin-bottom: 8px">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="auto" fxLayoutGap="10px">
        <!-- IsActive Filter -->
        <mat-slide-toggle
          [formControl]="isActive"
          color="primary"
          fxFlex="auto"
          [checked]="isActiveColumn()"
          (change)="isActiveColumn.set($event.checked)">
          Inactive
        </mat-slide-toggle>
      </div>

      <!-- Create Button -->
      <button mat-raised-button color="primary" (click)="onCreate()">Create</button>
    </div>
  </form>
</div>

<div class="table-container">
  @if (isLoading) {
    <div class="loading-shade">
      <mat-spinner></mat-spinner>
    </div>
  }
  @if (hasError) {
    <div class="error">
      {{ errorText }}
    </div>
  }
  <mat-table
    [dataSource]="items$"
    matSort
    matSortActive="genericDataTypeName"
    matSortDirection="asc"
    matSortDisableClear>
    <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>

    <ng-container matColumnDef="genericDataTypeName">
      <mat-header-cell *matHeaderCellDef mat-sort-header
        >Generic Data Type</mat-header-cell
      >
      <mat-cell *matCellDef="let row">
        <button mat-button class="left-align-button" (click)="showDetail(row.id)">
          {{ row.genericDataTypeName }}
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Attribute</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="isActive">
      <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
      <mat-cell *matCellDef="let row" style="margin-right: 10px">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" class="form-row">
          <mat-checkbox
            [checked]="row.isActive"
            color="primary"
            fxFlex="auto"
            (change)="confirmIsActive($event.checked, row)">
          </mat-checkbox>
        </div>
      </mat-cell>
    </ng-container>

    <mat-row
      matRipple
      (click)="selectedRow = row"
      [class.selected]="selectedRow === row"
      *matRowDef="let row; columns: displayedColumns()"></mat-row>
  </mat-table>

  <mat-toolbar>
    <mat-toolbar-row>
      <button mat-icon-button (click)="refresh$.next()">
        <mat-icon title="Refresh">refresh</mat-icon>
      </button>
      <span class="flex-spacer"></span>
      <mat-paginator [pageSizeOptions]="[15, 50, 100]" [length]="resultsLength">
      </mat-paginator>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
